# Ignore these directories wherever they are found
.vs/
.vscode/
.idea/

# Ignore these directories in the root
/bin
/int

# File Types
*.cap
*.ini
*.Intermediate
*.aps
*.vcxproj.filters
*.DotSettings.user
